<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-table.css" rel="stylesheet">
<link href="bootstrap/css/bootstrapValidator.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<script type="text/javascript" src="jquery-1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="layui/layer.js"></script>
<title>登录日志</title>
<style>
</style>
</head>
<body>
		<div class="row areacode" id="searchValue">
			<div class="row">
			  <div class="col-md-1">用户名</div>
			  <div class="col-md-3">
			  	<input class="form-control" id="userName" type="text"/>
			  </div>
			  <div class="col-md-1">IP</div>
			  <div class="col-md-3">
			  	<input class="form-control" id="ip" type="text"/>
			  </div>
			  <div class="col-md-2">
			  	<button class="btn btn-default btn-sm" onClick="refresh()"><span class="glyphicon glyphicon-search"></span> 查询</button>
				<button class="btn btn-default btn-sm" onClick="repeat()"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
			  </div>
			</div>
		</div>
		<div class="areacode">
			<div id="toolbar">
<!-- 			    <button class="btn btn-danger btn-sm"  onclick="deleteAll()"><span class="glyphicon glyphicon-trash"></span> 清空</button> -->
            </div>
			<table id="mytab" class="table"></table>
		</div>
</body>
<script  type="text/javascript">
	$(function() {
	    //根据窗口调整表格高度
	    $(window).resize(function() {
	        $('#mytab').bootstrapTable('resetView', {
// 	            height: tableHeight()
	        })
	    })
	
	    $('#mytab').bootstrapTable({
	        url: "loginLogs/search",//数据源
	        dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
// 	        height: tableHeight(),//高度调整
			striped: true,                      //是否显示行间隔色
			classes: 'table table-hover',      //表格的类名称。默认情况下，表格是有边框的，你可以添加 'table-no-bordered' 来删除表格的边框样式。
			idField: "id",                     //指定主键列
			uniqueId: "id",                     //每一行的唯一标识，一般为主键列
	        pagination: true,                    //是否分页
	        paginationLoop: false,				 //设置分页条禁止循环
	        pageNumber: 1,                       //初始化加载第一页，默认第一页
	        pageSize: 10,//单页记录数
	        pageList: [10, 20, 30],//分页步进值
	        paginationPreText: '<',//指定分页条中上一页按钮的图标或文字
	        paginationNextText: '>',//指定分页条中下一页按钮的图标或文字
	        sidePagination: "server",//服务端分页
	        contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
	        dataType: "json",//期待返回数据类型
	        method: "post",//请求方式
	        queryParamsType: "",//查询参数组织方式
	        queryParams: function getParams(params) {
	            var param = {
	                limit: params.pageSize,   //每页多少条数据
	                pageNo: params.pageNumber, // 页码
	                userName: $("#userName").val(),
	                ip: $("#ip").val()
	            };
	            return param;
	        },
	        showColumns: true,//是否显示 内容列下拉框
	        showRefresh: true,//是否显示 刷新按钮
	        showToggle: true,//是否显示 切换试图（table/card）按钮
	        toolbar: "#toolbar",//指定工具栏
	        toolbarAlign: "left",//工具栏对齐方式
	        columns: [
// 	            {field: "select",title: "全选",checkbox: true, width: 20,align: "center", valign: "middle"},
	            {field: 'id', title: 'ID', order: "desc"},
			    {field: 'userName', title: '用户名'},
			    {field: 'ip', title: 'IP'},
			    {field: 'location', title: '位置'},
			    {field: 'operatingSystem', title: '操作系统'},
			    {field: 'browser', title: '浏览器'},
			    {field: 'status', title: '状态'},
			    {field: 'message', title: '信息'},
			    {field: 'createdate', title: '时间'}
	        ],
	        onClickRow: function(row, $element) {
	            //$element是当前tr的jquery对象
// 	            $element.css("background-color", "#f5f5f5");
	        },//单击row事件
	        locale: "zh-CN", //中文支持
	    });
	})
	
	function tableHeight() {
	    return $(window).height() - 110;
	}
	//刷新数据
	function refresh(){
	    $('#mytab').bootstrapTable('refresh');
	}
	//重置
	function repeat(){
		$(":text").val("");
	}

</script>
</html>