<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>任务新增</title>
</head>
<body>
	<!-- 页面标题 -->
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">新增</h4>
    </div>
    <!-- 表单 -->
	<div class="formDiv">
		<form class="form-horizontal" role="form" id="from1">
		  <div class="form-group">
		    <label for="taskname" class="col-sm-3 control-label"><span class="required">*</span>任务名称</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="taskname" name="taskname" placeholder="请输入任务名称"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="beanName" class="col-sm-3 control-label"><span class="required">*</span>Bean名称</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="beanName" name="beanName" placeholder="请输入Bean名称"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="methodName" class="col-sm-3 control-label"><span class="required">*</span>方法名称</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="methodName" name="methodName" placeholder="请输入方法名称"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="cronExpression" class="col-sm-3 control-label"><span class="required">*</span>cron表达式</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="cronExpression" name="cronExpression" placeholder="请输入cron表达式"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="params" class="col-sm-3 control-label">参数</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="params" name="params" placeholder="请输入参数"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="status" class="col-sm-3 control-label">状态</label>
		    <div class="col-sm-6">
		        <label class="radio-inline">
			    	<input type="radio" name="status" value="0"/>正常
		    	</label>
		    	<label class="radio-inline">
			    	<input type="radio" name="status" value="1"/>暂停
		    	</label>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="remark" class="col-sm-3 control-label">备注</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="remark" name="remark" placeholder="请输入备注"/>
		    </div>
		  </div>
		</form>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-submit">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</body>
<script type="text/javascript">
	$(function() {
		$("#from1").bootstrapValidator({
            live: 'enabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
            excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
            submitButtons: '#btn-submit',//指定提交按钮，如果验证失败则变成disabled
            message: '验证失败',//好像从来没出现过
            feedbackIcons: {//根据验证结果显示的各种图标
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
           	 /*指定需要校验的元素  通过name数据去指定*/
                taskname:{
                    /*配置校验规则  规则不止一个*/
                    validators:{
                        /*配置具体的规则*/
                        notEmpty:{
                            message:'请输入任务名称'
                        },
                        stringLength: {//检测长度
                            min: 1,
                            max: 20,
                            message: '任务名称1-20个字符'
                        }
                    }
                },
                beanName:{
                    validators:{
                        notEmpty:{
                            message:'请输入Bean名称'
                        },
                        stringLength:{
                            min:0,
                            max:30,
                            message:'Bean名称1-30个字符'
                        }
                    }
                },
                methodName:{
                    validators:{
                        notEmpty:{
                            message:'请输入方法名'
                        },
                        stringLength:{
                            min:0,
                            max:30,
                            message:'方法名0-30个字符'
                        }
                    }
                },
                params:{
                    validators:{
                        stringLength:{
                            min:0,
                            max:30,
                            message:'参数0-30个字符'
                        }
                    }
                },
                cronExpression:{
                    validators:{
                        notEmpty:{
                            message:'请输入cron表达式'
                        },
                        stringLength:{
                            min:0,
                            max:30,
                            message:'cron表达式0-30个字符'
                        }
                    }
                },
                remark:{
                    validators:{
                        stringLength:{
                            min:0,
                            max:100,
                            message:'备注0-100个字符'
                        }
                    }
                }
            }
        });
        $("#btn-submit").click(function () {//非submit按钮点击后进行验证，如果是submit则无需此句直接验证
       	 	$("#from1").bootstrapValidator('validate');//提交验证
            if ($("#from1").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
	           	//验证成功后的操作，如ajax
	           	doSave();
            }
        });
	});

	function doSave() {
		var taskname = $("#taskname").val();
		var beanName = $("#beanName").val();
		var methodName = $("#methodName").val();
		var params = $("#params").val();
		var cronExpression = $("#cronExpression").val();
		var status = $("input[name='status']:checked").val();
		var remark = $('#remark').val();
		$.ajax({
			url : "task/insert",
			type : "post",
			data : {
				"name" : taskname,
				"beanName" : beanName,
				"methodName" : methodName,
				"params" : params,
				"cronExpression" : cronExpression,
				"status" : status,
				"remark" : remark
			},
			success : function(result) {
				if(result > 0){
					layer.alert("保存成功！", {icon: 1, title:'提示'}, function(index){
						$("#mymodelAdd").modal('hide');
						refresh();
						layer.close(index);
					});
				}
			},
			error : function() {
				layer.alert("保存失败！", {icon: 2, title:'提示'}, function(index){
					layer.close(index);
				});
			}
		});
	}
</script>
</html>