<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-table.css" rel="stylesheet">
<link href="bootstrap/css/bootstrapValidator.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-treeview.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<script type="text/javascript" src="jquery-1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="layui/layer.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrapValidator.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<link href="plugins/zTree/css/metroStyle/metroStyle.css" rel="stylesheet">
<script type="text/javascript" src="plugins/zTree/js/jquery.ztree.all.js"></script>
<title>角色管理</title>
<style>
</style>
</head>
<body>
		<div class="row areacode" id="searchValue">
			<div class="row">
			  <div class="col-md-2">角色名称</div>
			  <div class="col-md-3">
			  	<input class="form-control" id="name" type="text"/>
			  </div>
			  <div class="col-md-3">
			  	<button class="btn btn-default btn-sm" onClick="refresh()"><span class="glyphicon glyphicon-search"></span> 查询</button>
				<button class="btn btn-default btn-sm" onClick="repeat()"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
			  </div>
			</div>
		</div>
		<div class="areacode">
			<div id="toolbar">
			    <button class="btn btn-primary btn-sm" id="doInsert" onclick="doInsert()"><span class="glyphicon glyphicon-plus"></span> 新增</button>
			    <button class="btn btn-danger btn-sm" id="doBatchDelete" onclick="doBatchDelete()" disabled><span class="glyphicon glyphicon-trash"></span> 删除</button>
            </div>
			<table id="mytab" class="table"></table>
		</div>
		
		<!-- 这里加载新增页面 -->
		<div class="modal fade" id="mymodelAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
		<!-- 这里加载编辑页面 -->
		<div class="modal fade" id="mymodelEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
		<!-- 这里加载角色授权页面 -->
		<div class="modal fade" id="mymodelAccredit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
</body>
<script  type="text/javascript">
	$(function() {
	    //根据窗口调整表格高度
	    $(window).resize(function() {
	        $('#mytab').bootstrapTable('resetView', {
// 	            height: tableHeight()
	        })
	    })
	    // 每次隐藏时，清除数据，确保不会和主页dom元素冲突。确保点击时，重新加载。
	    $("#mymodelAdd, #mymodelEdit, #mymodelAccredit").on("hidden.bs.modal", function() {
	        // 这个#showModal是模态框的id
	        $(this).removeData("bs.modal");
	        $(this).find(".modal-content").children().remove(); 
	    });
	
	    $('#mytab').bootstrapTable({
	        url: "role/search2",//数据源
	        dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
// 	        height: tableHeight(),//高度调整
// 			striped: true,                      //是否显示行间隔色
			classes: 'table table-hover',      //表格的类名称。默认情况下，表格是有边框的，你可以添加 'table-no-bordered' 来删除表格的边框样式。
			idField: "id",                     //指定主键列
			uniqueId: "id",                     //每一行的唯一标识，一般为主键列
	        pagination: true,                    //是否分页
	        paginationLoop: false,				 //设置分页条禁止循环
	        pageNumber: 1,                       //初始化加载第一页，默认第一页
	        pageSize: 10,//单页记录数
	        pageList: [10, 20, 30],//分页步进值
	        paginationPreText: '<',//指定分页条中上一页按钮的图标或文字
	        paginationNextText: '>',//指定分页条中下一页按钮的图标或文字
	        sidePagination: "server",//服务端分页
	        contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
	        dataType: "json",//期待返回数据类型
	        method: "post",//请求方式
	        queryParamsType: "",//查询参数组织方式
	        queryParams: function getParams(params) {
	            var param = {
	                limit: params.pageSize,   //每页多少条数据
	                pageNo: params.pageNumber, // 页码
	                role: $("#name").val()
	            };
	            return param;
	        },
	        showColumns: true,//是否显示 内容列下拉框
	        showRefresh: true,//是否显示 刷新按钮
	        showToggle: true,//是否显示 切换试图（table/card）按钮
	        toolbar: "#toolbar",//指定工具栏
	        toolbarAlign: "left",//工具栏对齐方式
	        columns: [
	            {field: "select",title: "全选", checkbox: true, width: 20,align: "center", valign: "middle"},
// 	            {field: 'id', title: '角色ID', sortable: true},
			    {field: 'role', title: '角色名称', sort:true},
			    {field: 'note', title: '备注'},
			    {field: 'status', title: '状态',formatter:function(value, row, index){
			    	if(value == 1){
			    		return "<span class='label label-success'>正常</span>";
			    	}else{
			    		return "<span class='label label-danger'>异常</span>";
			    	}
			    }},
		        {field: 'oper', title: '操作',width: 200,formatter:function(value, row, index){
		        	var html = "<button class='btn btn-info btn-xs' onClick='doEdit("+row.id+")'><span class='glyphicon glyphicon-edit'></span> 编辑</button> ";
		        		html += "<button class='btn btn-success btn-xs' onClick='doAccredit("+row.id+")'><span class='glyphicon glyphicon-user'></span> 授权</button> ";
		        	    html += "<button class='btn btn-danger btn-xs' onClick='doDelete("+row.id+")'><span class='glyphicon glyphicon-trash'></span> 删除</button>";
		        	return html;
		        }}
	        ],
	        onClickRow: function(row, $element) {//单击row事件
	            //$element是当前tr的jquery对象
// 	            $element.css("background-color", "#f5f5f5");
	        },
	        onCheck: function(row){//选择row事件
	        	$('#doBatchDelete').prop('disabled', false);
	        },
	        onUncheck: function(row){//取消选择row事件
	        	//判断是否还有选择的数据
	        	var data= $('#mytab').bootstrapTable('getSelections');
	        	if(data == ""){
		        	$('#doBatchDelete').prop('disabled', true);
	        	}
	        },
	        onCheckAll: function(rows){//全选事件
	        	$('#doBatchDelete').prop('disabled', false);
	        },
	        onUncheckAll: function(rows){//取消全选事件
	        	$('#doBatchDelete').prop('disabled', true);
	        },
	        locale: "zh-CN", //中文支持
	    });
	})
	
	function tableHeight() {
	    return $(window).height() - 110;
	}
	//刷新数据
	function refresh(){
	    $('#mytab').bootstrapTable('refresh');
	}
	
	//新增
	function doInsert() {
		// 打开模态框
	    $("#mymodelAdd").modal({
	        backdrop: 'static',     // 点击空白不关闭
	        keyboard: false,        // 按键盘esc也不会关闭
	        remote: 'common/loadPage?path=system/role/roleAdd'    // 从远程加载内容的地址
	    });
	}

	function doEdit(id) {
		// 打开模态框
	    $("#mymodelEdit").modal({
	        backdrop: 'static',     // 点击空白不关闭
	        keyboard: false,        // 按键盘esc也不会关闭
	        remote: 'common/loadPageParam?path=system/role/roleEdit&id=' + id   // 从远程加载内容的地址
	    });
	}
	//授权
	function doAccredit(id) {
		// 打开模态框
		var url = "common/loadPageParam?path=system/role/roleAccredit&id=" + id;
		openModel("#mymodelAccredit", url);
	}

	//删除用户
	function doDelete(id){
		layer.confirm("您确定要删除这条数据吗？", {icon: 3, title:'提示'}, function(index){
			$.ajax({
				url : "role/deleteRole",
				type : "post",
				data : {
					"id" : id
				},
				success : function(result) {
					if(result > 0){
						layer.msg("删除成功！");
						refresh();
					}
				},
				error : function() {
					layer.msg("删除失败！");
				}
			});
			layer.close(index);
		});
	}
	//批量删除数据
	function doBatchDelete(){
		var data= $('#mytab').bootstrapTable('getSelections');
		if(data.length == 0){
			layer.msg("请选择需要删除的数据！");
			return;
		}
		var ids = "";
		data.forEach(function(value,index){
			ids += value.id + ",";
		})
		ids = ids.substring(0, ids.length-1);
		
		layer.confirm("您确定要删除选择的数据吗？", {icon: 3, title:'提示'}, function(index){
			$.ajax({
				url : "role/batchDeleteRole",
				type : "post",
				data : {
					"ids" : ids
				},
				success : function(result) {
					layer.msg("删除成功！");
					refresh();
				},
				error : function() {
					layer.msg("删除失败！");
				}
			});
			layer.close(index);
		});
	}
</script>
</html>