<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<style>
</style>
<title>角色授权</title>
</head>
<body>
	<!-- 页面标题 -->
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">角色授权</h4>
    </div>
	<div class="formDiv" style="margin-top:20px;margin-bottom: 20px;">
		<form class="form-horizontal" role="form" id="from1">
		  <div class="form-group">
		    <label for="email" class="col-sm-3 control-label">角色权限</label>
		    <div class="col-sm-6">
		    	<ul id="treeDemo" class="ztree"></ul>
		    </div>
		  </div>
		  <input type="hidden" id="id" th:value="${id}"/>
		</form>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-submit" onClick="doSave()">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </div>
</body>
<script type="text/javascript">
	var settingss = {
        data: {
	          simpleData: {
		            enable: true,  //true 、 false 分别表示 使用 、 不使用 简单数据模式
		            idKey: "id",  //节点数据中保存唯一标识的属性名称
		            pIdKey: "pid",    //节点数据中保存其父节点唯一标识的属性名称 
		            rootPId: -1  //用于修正根节点父节点数据，即 pIdKey 指定的属性值
	          },
	          key: {
	            	name: "name"  //zTree 节点数据保存节点名称的属性名称  默认值："name"
	          }
        },
        check:{
	          enable:true,  //true 、 false 分别表示 显示 、不显示 复选框或单选框
	          nocheckInherit:true  //当父节点设置 nocheck = true 时，设置子节点是否自动继承 nocheck = true
        }
    };
	var id = $("#id").val();
	$(function() {
		getTreeData();
	});

	function doSave() {
		var zTree = $.fn.zTree.getZTreeObj("treeDemo"), nodes = zTree.getCheckedNodes(true);
		if(nodes.length == 0){
			layer.msg("请选择角色权限");
			return;
		}
		var str = "";
		for(var i = 0; i < nodes.length; i ++){
			str += nodes[i].id +",";
		}
		   str = str.substring(0, str.length - 1);
		$.ajax({
			url : "role/updateRoleAccredit",
			type : "post",
			data : {
				"id" : id,
				"idArr" : str
			},
			success : function(result) {
				if(result > 0){
					layer.alert("保存成功！", {icon: 1, title:'提示'}, function(index){
						$("#mymodelAccredit").modal('hide');
						refresh();
						layer.close(index);
					});
				}
			},
			error : function() {
				layer.alert("保存失败！", {icon: 2, title:'提示'}, function(index){
					layer.close(index);
				});
			}
		});
	}
	
	
	function getTreeData(){
		$.ajax({
			url : "menu/getMenuTree",
			type : "post",
			data : {},
			success : function(result) {
				if(result.menulists != null && result.menulists != ""){
					zTreeObj = $.fn.zTree.init($("#treeDemo"), settingss, result.menulists); //初始化树
	                zTreeObj.expandAll(true);   //true 节点全部展开、false节点收缩
	                //设置节点选中
	                var rpdate = getChcekData();
	                for (var i = 0; i < rpdate.length; i++) {
						 var id = rpdate[i].permission_id;
						 var node = zTreeObj.getNodeByParam("id", id);
						 if(node != null) {
							zTreeObj.checkNode(node, true);
						 }
					}
				}
			},
			error : function() {
				layer.msg("菜单数据加载数据失败！");
			}
		});
	}
	
	function getChcekData() {
		var resultvalue;
		$.ajax({
			url : "menu/getRolePermission",
			type : "post",
			async : false,
			data : {
				"role_id" : id
			},
			dataType : "json",
			success : function(result) {
				resultvalue = result;
			},
			error : function() {
				layer.msg("角色权限数据加载失败");
			}
		});
		return resultvalue;
	}
</script>
</html>