<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>字典数据详情</title>
<style>
</style>
</head>
<body>
	<!-- 页面标题 -->
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">详情</h4>
    </div>
	<div class="areacode1">
		<table id="mytab1" class="table"></table>
		<input type="hidden" id="dictid" th:value="${id}"/>
	</div>
</body>
<script type="text/javascript">
	var dictid = $("#dictid").val();
	$(function() {
	    $('#mytab1').bootstrapTable({
	        url: "dict/searchDictInfo",//数据源
	        dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
	        height: tableHeight(),//高度调整
	        clickEdit: true,
			striped: true,                      //是否显示行间隔色
			classes: 'table table-hover',      //表格的类名称。默认情况下，表格是有边框的，你可以添加 'table-no-bordered' 来删除表格的边框样式。
			idField: "id",                     //指定主键列
			uniqueId: "id",                     //每一行的唯一标识，一般为主键列
	        pagination: true,                    //是否分页
	        paginationLoop: false,				 //设置分页条禁止循环
	        pageNumber: 1,                       //初始化加载第一页，默认第一页
	        pageSize: 10,//单页记录数
	        pageList: [5, 10, 20, 50],//分页步进值
	        paginationPreText: '<',//指定分页条中上一页按钮的图标或文字
	        paginationNextText: '>',//指定分页条中下一页按钮的图标或文字
	        sidePagination: "server",//服务端分页
	        contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
	        dataType: "json",//期待返回数据类型
	        method: "post",//请求方式
	        queryParamsType: "",//查询参数组织方式
	        queryParams: function getParams(params) {
	            var param = {
	                limit: params.pageSize,   //每页多少条数据
	                pageNo: params.pageNumber, // 页码
	                dictid: $("#dictid").val()
	            };
	            return param;
	        },
// 	        showColumns: true,//是否显示 内容列下拉框
// 	        showRefresh: true,//是否显示 刷新按钮
// 	        showToggle: true,//是否显示 切换试图（table/card）按钮
// 	        toolbar: "#toolbar1",//指定工具栏
// 	        toolbarAlign: "left",//工具栏对齐方式
	        columns: [
// 	            {field: 'id', title: 'ID'},
			    {field: 'name', title: '名称', width: '100'},
			    {field: 'value', title: '值', width: '100'},
			    {field: 'sort', title: '排序', width: '100'},
// 			    {field: 'remark', title: '备注', width: '100'},
// 			    {field: 'status', title: '状态', width: '100', formatter:function(value, row, index){
// 			    	  if(value == "0"){
// 			    		  return "<span class='label label-danger'>异常</span>";
// 			    	  }else if(value == "1"){
// 			    		  return "<span class='label label-success'>正常</span>";
// 			    	  }
// 			      }
// 			    },
// 			    {field: 'createDate', title: '创建时间'},
// 		        {field: 'oper', title: '操作',formatter:function(value, row, index){
// 		        	 var html = "<button class='btn btn-danger btn-xs' onClick='doDelete("+row.id+")'><span class='glyphicon glyphicon-trash'></span> 删除</button>";
// 		        	return html;
// 		        }}
	        ],
	        onClickRow: function(row, $element) {
	            //$element是当前tr的jquery对象
// 	            $element.css("background-color", "#f5f5f5");
	        },//单击row事件
	        /* onClickCell: function(field, value, row, $element) {
	            $element.attr('contenteditable', true);
	            $element.blur(function() {
	                let index = $element.parent().data('index');
	                let tdValue = $element.html();

	                saveData(index, field, tdValue);
	            })
	        }, */
	        locale: "zh-CN", //中文支持
	    });
	})
	
	function tableHeight() {
	    return $(window).height() - 210;
	}
	//刷新数据
	function refresh1(){
		var param = {
	            url : 'dictInfo/search'
	         }
	    $('#mytab1').bootstrapTable('refresh',param);
	}
	
	//行内新增
	function doInsert1() {
		$('#mytab1').bootstrapTable('insertRow', {
            index: 0,
            row: {
                name: '',
                value: '',
                sort: '',
                remark: ''
            }
        });
	}

	function saveData(index, field, value) {
		$('#mytab1').bootstrapTable('updateCell', {
            index: index,       //行索引
            field: field,       //列名
            value: value        //cell值
        })
    }
	
	//删除新增的行
	function deleteRow(index){
		 $('#bootstrap-table').bootstrapTable('remove', {
             field:'index'
         })
	}

	//删除用户
	function doDelete(id){
		showConfirm("您确定要删除这条数据吗？", function() {
			$.ajax({
				url : "dict/deleteDictInfo",
				type : "post",
				data : {
					"id" : id
				},
				success : function(result) {
					showMsg("删除成功！", function() {});
					refresh1();
				},
				error : function() {
					showMsg("删除失败！", function() {});
				}
			});
		});
	}

</script>
</html>