<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.operations.DatabaseMapper">
  <resultMap id="BaseResultMap" type="com.it.po.Database">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PORT" jdbcType="INTEGER" property="port" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATEDATE" jdbcType="VARCHAR" property="createdate" />
    <result column="UPDATOR" jdbcType="VARCHAR" property="updator" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, ACCOUNT, PASSWORD, PORT, IP, URL, CREATOR, to_char(CREATEDATE, 'yyyy-mm-dd hh24:mi:ss') CREATEDATE, UPDATOR, UPDATEDATE
  </sql>
  
  <select id="select" parameterType="com.it.po.Database" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DATABASE_INFO where 1=1
    <if test="name != '' and name != null">
    	and name like concat(concat('%',#{name}),'%')
    </if>
    <if test="ip != '' and ip != null">
    	and ip like concat(concat('%',#{ip}),'%')
    </if>
    order by id desc
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DATABASE_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DATABASE_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="batchDelete" parameterType="Integer">
	delete from DATABASE_INFO
	where id in
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
       	#{item} 
   	</foreach>
  </delete>
  
  <insert id="insert" parameterType="Database">
    insert into DATABASE_INFO (ID, NAME, ACCOUNT, PASSWORD, PORT, IP, URL, CREATOR, CREATEDATE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, sysdate)
      <selectKey order="BEFORE" resultType="Integer" keyProperty="id">
      	SELECT DATABASE_ID_SEQ.NEXTVAL-1 from DUAL
      </selectKey>
  </insert>
  
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.it.po.Database" useGeneratedKeys="true">
    insert into DATABASE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="port != null">
        PORT,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="updator != null">
        UPDATOR,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.it.po.Database">
    update DATABASE_INFO
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        PORT = #{port,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        UPDATOR = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=VARCHAR}
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.it.po.Database">
    update DATABASE_INFO
    set NAME = #{name,jdbcType=VARCHAR},
        ACCOUNT = #{account,jdbcType=VARCHAR},
      	PASSWORD = #{password,jdbcType=VARCHAR},
      	PORT = #{port,jdbcType=INTEGER},
      	IP = #{ip,jdbcType=VARCHAR},
      	URL = #{url,jdbcType=VARCHAR},
      	UPDATOR = #{updator,jdbcType=VARCHAR},
      	UPDATEDATE = sysdate
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>