<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:href="@{/}">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-table.css" rel="stylesheet">
<link href="bootstrap/css/bootstrapValidator.css" rel="stylesheet">
<link href="bootstrap/css/jquery.treegrid.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-treeview.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<script type="text/javascript" src="jquery-1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="layui/layer.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrapValidator.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-table-treegrid.js"></script>
<script type="text/javascript" src="bootstrap/js/jquery.treegrid.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<link href="plugins/zTree/css/metroStyle/metroStyle.css" rel="stylesheet">
<script type="text/javascript" src="plugins/zTree/js/jquery.ztree.all.js"></script>
<link href="icons/simple-line-icon/simple-line-icons.css" rel="stylesheet">
<title>菜单管理</title>
</head>
<body>
		<div class="areacode">
			<div id="toolbar">
			    <button class="btn btn-primary btn-sm"  onclick="doInsert()"><span class="glyphicon glyphicon-plus"></span> 新增</button>
			    <button class="btn btn-success btn-sm"  onclick="change_tree()"><span class="glyphicon glyphicon-sort"></span> 展开/折叠</button>
            </div>
			<table id="mytab" class="table"></table>
		</div>
		<!-- 这里加载新增页面 -->
		<div class="modal fade" id="mymodelAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
		<!-- 这里加载编辑页面 -->
		<div class="modal fade" id="mymodelEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    </div>
		  </div>
		</div>
</body>
<script type="text/javascript">
$(function() {
    //根据窗口调整表格高度
    $(window).resize(function() {
        $('#mytab').bootstrapTable('resetView', {
//             height: tableHeight()
        })
    })
    // 每次隐藏时，清除数据，确保不会和主页dom元素冲突。确保点击时，重新加载。
    $("#mymodelAdd, #mymodelEdit").on("hidden.bs.modal", function() {
        // 这个#showModal是模态框的id
        $(this).removeData("bs.modal");
        $(this).find(".modal-content").children().remove(); 
    });
    var $table = $("#mytab");
    $table.bootstrapTable({
        url: "menu/search",//数据源
        dataField: "data",
//         height: tableHeight(),//高度调整
		classes: 'table table-hover',      //表格的类名称。默认情况下，表格是有边框的，你可以添加 'table-no-bordered' 来删除表格的边框样式。
		idField: "id",                     //指定主键列
        showRefresh: true,//是否显示 刷新按钮
        toolbar: "#toolbar",//指定工具栏
        toolbarAlign: "left",//工具栏对齐方式
        columns: [
		    {field: 'name', title: '菜单名称', width:'150'},
		    {field: 'type', title: '类型', width:'100', formatter:function(value, row, index){
		    	  if(value == "0"){
		    		  return "<span class='label label-info'>目录</span>";
		    	  }else if(value == "1"){
		    		  return "<span class='label label-success'>菜单</span>";
		    	  }else if(value == "2"){
		    		  return "<span class='label label-warning'>按钮</span>";
		    	  }
		      }},
		    {field: 'image', title: '图标', width:'120', formatter:function(value, row, index){
		    	return "<i class='"+value+"'></i>";
		    }},
		    {field: 'url', title: '请求地址', width:'150'},
		    {field: 'permission', title: '权限标识', width:'150'},
		    {field: 'sort', title: '排序', width:'100'},
	        {field: 'oper', title: '操作', width:170, formatter:function(value, row, index){
	        	var html = "<button class='btn btn-success btn-xs' onClick='doInsert1("+row.id+")'><span class='glyphicon glyphicon-plus-sign'></span> 新增</button> ";
	        		html += "<button class='btn btn-info btn-xs' onClick='doEdit("+row.id+")'><span class='glyphicon glyphicon-edit'></span> 编辑</button> ";
	        	    html += "<button class='btn btn-danger btn-xs' onClick='doDelete("+row.id+")'><span class='glyphicon glyphicon-trash'></span> 删除</button>";
	        	return html;
	        }}
        ],
        locale: "zh-CN", //中文支持
        //定义哪一列作为展开项  定义父级标志 这里是pid
        //定义的列一定是要在表格中展现的  换言之就是上方有这个列 不然报错
        treeShowField: 'name',
        parentIdField: 'pid',
        onLoadSuccess: function(data) {
        	$table.treegrid({
// 	            initialState: 'expanded',//展开
	            initialState: 'collapsed',//折叠
	            treeColumn: 0,
	            expanderExpandedClass: 'glyphicon glyphicon-chevron-down',
                expanderCollapsedClass: 'glyphicon glyphicon-chevron-right',
	            onChange: function() {
	                $table.bootstrapTable('resetWidth');
	            }
          });
        }
    });
})

function tableHeight() {
    return $(window).height() - $("#commHead").height() - 50;
}
//刷新数据
function refresh(){
    $('#mytab').bootstrapTable('refresh');
}

//新增
function doInsert() {
	// 打开模态框
    $("#mymodelAdd").modal({
        backdrop: 'static',     // 点击空白不关闭
        keyboard: false,        // 按键盘esc也不会关闭
        remote: 'menu/menuAdd'    // 从远程加载内容的地址
    });
}

//新增
function doInsert1(id) {
	// 打开模态框
    $("#mymodelAdd").modal({
        backdrop: 'static',     // 点击空白不关闭
        keyboard: false,        // 按键盘esc也不会关闭
        remote: 'common/loadPageParam?path=system/menu/menuAdd&id='+id    // 从远程加载内容的地址
    });
}

//编辑
function doEdit(id) {
	// 打开模态框
    $("#mymodelEdit").modal({
        backdrop: 'static',     // 点击空白不关闭
        keyboard: false,        // 按键盘esc也不会关闭
        remote: 'common/loadPageParam?path=system/menu/menuEdit&id='+id   // 从远程加载内容的地址
    });
}

//删除菜单
function doDelete(id){
	layer.confirm("您确定要删除这条数据吗？", {icon: 3, title:'提示'}, function(index){
		$.ajax({
			url : "menu/deleteMenu",
			type : "post",
			data : {
				"id" : id
			},
			success : function(result) {
				layer.msg("删除成功！");
				refresh();
			},
			error : function() {
				layer.msg("删除失败！");
			}
		});
		layer.close(index);
	});
}
//折叠展开树形表格
var flag = true;//开启还是关闭的标志位
function change_tree(){
	if(flag){
    	$('#mytab').treegrid('expandAll');
        flag = !flag;
    }else{
		$('#mytab').treegrid('collapseAll');
        flag = !flag;
    }
}
</script>
</html>