<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<base th:href="@{/}">
<link rel="icon" href="assets/images/favicon.png" type="image/png">
<link href="icons/style.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<title></title>
<style type="text/css">
</style>
</head>
<body class="sticky-header">
	<!-- main content start-->
	<div class="content">
		<!--body wrapper start-->
		<div class="wrapper">
			<!--Start row-->
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<div class="analytics-box white-box">
								<h3>Total Revenue</h3>
								<div class="analytics-info">
									<div class="analytics-stats">$8659</div>
									<span id="sparklinestats1"></span>
								</div>
							</div>
						</div>
						<!-- /analytics-box-->
						<div class="col-md-3">
							<div class="analytics-box white-box">
								<h3>Today Sales</h3>
								<div class="analytics-info">
									<div class="analytics-stats">$8659</div>
									<span id="sparklinestats2"></span>
								</div>
							</div>
						</div>
						<!-- /analytics-box-->
						<div class="col-md-3">
							<div class="analytics-box white-box">
								<h3>Total Visitors</h3>
								<div class="analytics-info">
									<div class="analytics-stats">6011</div>
									<span id="sparklinestats3"></span>
								</div>
							</div>
						</div>
						<!-- /analytics-box-->
						<div class="col-md-3">
							<div class="analytics-box white-box">
								<h3>Bounce Rate</h3>
								<div class="analytics-info">
									<div class="analytics-stats">6011</div>
									<span id="sparklinestats4"></span>
								</div>
							</div>
						</div>
						<!-- /analytics-box-->
					</div>
				</div>
			</div>
			<!--End row-->
			<!--Start row-->
			<div class="row">
				<!-- Start Feeds-->
				<div class="col-md-4">
					<div class="white-box feeds">
						<h2 class="header-title">Feeds</h2>
						<div class="feeds-box">
							<div class="feeds-icon  bg-primary">
								<i class="fa fa-edit"></i>
							</div>
							<div class="feeds-info">
								<h5>You have 4 pending tasks.</h5>
								<span>Just Now</span>
							</div>
						</div>
						<!-- /feed-box-->
						<div class="feeds-box">
							<div class="feeds-icon bg-danger">
								<i class="fa fa-edit"></i>
							</div>
							<div class="feeds-info">
								<h5>Server #1 overloaded.</h5>
								<span>Just Now</span>
							</div>
						</div>
						<!-- /feed-box-->
						<div class="feeds-box">
							<div class="feeds-icon bg-warning">
								<i class="fa fa-edit"></i>
							</div>
							<div class="feeds-info">
								<h5>New user registered.</h5>
								<span>Just Now</span>
							</div>
						</div>
						<!-- /feed-box-->
						<div class="feeds-box">
							<div class="feeds-icon bg-info">
								<i class="fa fa-edit"></i>
							</div>
							<div class="feeds-info">
								<h5>New user registered.</h5>
								<span>Just Now</span>
							</div>
						</div>
						<!-- /feed-box-->
						<div class="feeds-box">
							<div class="feeds-icon bg-success">
								<i class="fa fa-edit"></i>
							</div>
							<div class="feeds-info">
								<h5>New Version just arrived.</h5>
								<span>Just Now</span>
							</div>
						</div>
						<!-- /feed-box-->
					</div>
				</div>
				<!-- End Feeds-->
				<!-- Start To Do List-->
				<div class="col-md-4">
					<div class=" white-box">
						<h2 class="header-title">To Do List</h2>
						<ul class="todo-list list-task ">
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist"> <label
										for="todolist">Schedule meeting </label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist2"> <label
										for="todolist2"> Give Purchase report</label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist3"> <label
										for="todolist3">Book flight for holiday</label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist4"> <label
										for="todolist4"> Forward all tasks</label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist5"> <label
										for="todolist5"> Recieve shipment </label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist6"> <label
										for="todolist6"> Important tasks </label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist7"> <label
										for="todolist7"> Give Purchase report</label>
								</div>
							</li>
							<li>
								<div class="checkbox checkbox-primary">
									<input type="checkbox" id="todolist8"> <label
										for="todolist8">Book flight for holiday</label>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- End To Do List-->
				<!-- Start Browsers Stats -->
				<div class="col-md-4">
					<div class="white-box">
						<h2 class=" header-title">Browsers Stats</h2>
						<ul class="Browser_stats">
							<li><span class="browser-info">Google Crome</span> <span
								class="broser-stats">32%</span></li>
							<li><span class="browser-info">Firefox</span> <span
								class="broser-stats">42%</span></li>
							<li><span class="browser-info">Google Crome</span> <span
								class="broser-stats">32%</span></li>
							<li><span class="browser-info">Google Crome</span> <span
								class="broser-stats">32%</span></li>
							<li><span class="browser-info">Google Crome</span> <span
								class="broser-stats">32%</span></li>
							<li><span class="browser-info">Google Crome</span> <span
								class="broser-stats">32%</span></li>
						</ul>
					</div>
				</div>
				<!-- Start Browsers Stats -->
			</div>
			<!--End row-->
		</div>
		<!-- End Wrapper-->
	</div>
	<!--End main content -->
	<!--Begin core plugin -->
	<script src="jquery-1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<!-- End core plugin -->
</body>
</html>