<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<base th:href="@{/}">
<link rel="icon" href="assets/images/favicon.png" type="image/png">
<link href="icons/style.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<title></title>
<style type="text/css">
</style>
</head>
<body class="sticky-header">
	<!-- main content start-->
	<div class="content">
		
	</div>
	<!--End main content -->
	<!--Begin core plugin -->
	<script src="jquery-1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<!-- End core plugin -->
</body>
</html>