<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <base th:href="@{/}">
  <link href="css/index.css" rel="stylesheet"/>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="icons/icons.css" rel="stylesheet">
  <link href="icons/style.css" rel="stylesheet">
  <style>
	iframe{
		width: 100%;
		height: calc(100% - 130px);
	}
  </style>
  <title>主页</title>
</head>
<body class="sticky-header">
    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">
        <div class="logo">
<!--         	<img src="images/logo.png" style="width: 50px;"/> -->
<!--             <a href="index.html"></a> -->
        </div>
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav" id="left-menu">
                <!-- left menu html -->
                <li th:each="str:${menu}" th:class="${not #lists.isEmpty(str.childern) ? 'menu-list' : ''}">
                	<a th:href='@{${str.url}}' target="myIframe">
                		<i th:class='${str.image}'></i><span th:text="${str.name}"></span>
                	</a>
                	<ul class='sub-menu-list' th:if="${not #lists.isEmpty(str.childern)}">
                		<li th:each="child:${str.childern}">
                			<a th:href="@{${child.url}}" th:text="${child.name}" onclick="onClickMenu(this)" target="myIframe"></a>
                		</li>
                	</ul>
                </li>
            </ul>
        </div>
    </div>
    <!--End left side menu-->
    
    <!-- main content start-->
    <div class="main-content" >
        <!-- header section start-->
        <div class="header-section">
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" id="notices" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown" data-hover="dropdown">
                            <i class="fa fa-bell-o"></i><span class="badge">1</span>
                        </a>
                        <div id="noticesDownmenu" class="dropdown-menu dropdown-menu-head pull-right" aria-labelledby="notices">
                          	<h5 class="title">Notifications</h5>
                        	<ul class="dropdown-list normal-list">
								<li class="message-list">
		                          <a href="#">
		                              <span class="subject">John Doe</span>
		                              <span class="message"> New tasks needs to be done</span>
		                              <span class="time">13 minutes ago</span>
		                          </a>
								</li>
								<li class="last"> <a href="#">All Messages</a> </li>
							</ul>
                        </div>
                    </li>
                    <li>
                		<a href="javascript:void(0)" id="handleFullScreen" onclick="handleFullScreen()" class="btn btn-default dropdown-toggle info-number">
                            <i title='全屏显示' class="fa icon-size-fullscreen"></i>
                        </a>
                	</li>
                    <li>
                        <a href="#" id="userMenu" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <img src="images/user2.png" alt=""><font th:text="${session.userName}"></font>
                            <span class="caret"></span>
                        </a>
                        <ul id="userDownMenu" class="dropdown-menu dropdown-menu-usermenu pull-right" aria-labelledby="userMenu" style="min-width: 120px;">
                          <li> <a href="javascript:void(0)"> <i class="fa fa-user"></i> 个人中心 </a> </li>
                          <li> <a href="javascript:void(0)" onClick="updatePwd()"> <i class="fa fa-lock"></i> &nbsp;修改密码 </a> </li>
                          <li> <a href="javascript:void(0)"> <i class="fa fa-wrench"></i> 系统设置 </a> </li>
                          <li> <a href="javascript:void(0)" onClick="logOut()"> <i class="fa fa-power-off"></i> 退出登录 </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->
       	<!--Start Page Title-->
        <div class="page-title-box">
             <span class="page-title" id="titleName">主页</span>
             <div class="clearfix"></div>
        </div>
        <!--End Page Title-->
		<iframe id="myIframe" name="myIframe" src="static/dashboard" frameborder=0></iframe>
        <footer class="footer-main">
        	Copyright &copy; 2019 All rights reserved.
        </footer>	
        <input type="hidden" id="userId" th:value="${session.userId}"/>
        <input type="hidden" id="userName" th:value="${session.userName}"/>
       </div>
      <!--End main content -->
    <script type="text/javascript" src="jquery-1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-hover-dropdown.js"></script>
    <script type="text/javascript" src="js/jquery.slimscroll.js "></script>
    <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script>
//     $(function(){

//     })
    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            if(socket != null){
                socket.close();
                socket = null;
            }
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
            //等同于socket = new WebSocket("ws://localhost:8888/xxxx/im/25");
            var userId = $("#userId").val();
            var socketUrl="ws://localhost:8080/websocket/ID="+userId;
            console.log(socketUrl);
            socket = new WebSocket(socketUrl);
            //打开事件
            socket.onopen = function() {
                console.log("websocket已打开");
            };
            //获得消息事件
            socket.onmessage = function(msg) {
                console.log(msg.data);
            };
            //关闭事件
            socket.onclose = function() {
                console.log("websocket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                console.log("websocket发生了错误");
            }
        }
    }
    function sendMessage() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
        	var userName = $("#userName").val();
        	socket.send("{'来自客户端的消息':'用户名=" + userName +", "+ new Date()+"'}");
        }
    }
    
    </script>
</body>
</html>